/* Imports - Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

#inital_box {
  /* /* width: 100vw; */
  height: 100vh;
  position: 0, 0;
  /* background-color: rgb(2, 0, 32); */
  margin: auto;
  /* border: solid; */
}

.notas{
  font-family: 'Syne Mono', monospace;
  color:indianred;
  text-align: right;
  padding-left: 5vw;
  font-size: 11pt;
}
@media all and (max-width: 1920px) {
  .container {
    padding-right: 25vw;
    padding-left: 25vw;
  }
}

@media all and (max-width: 1200px) {
  .container {
    padding-right: 20vw;
    padding-left: 20vw;
  }
}

@media all and (max-width: 840px) {
  .container {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}

@media all and (max-width: 520px) {
  .container {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}


h1 {
  color: rgb(10, 2, 133);

}

p {
  color: rgb(10, 2, 133);
  font-size: 18px;
}

h2 {
  color: rgb(10, 2, 133);
  font-size: 22px;
  font-weight: bold;
}

#clock {
  padding-right: 3%;
  position: sticky;
  top: 10px;
  text-align: end;
}

#inital_box .textbox {
  text-align: center
}

.initial_image {
  filter: sepia(100%) hue-rotate(190deg) saturate(200%);
  /* justify-content: space-around;  */
  /* object-fit: cover; */
  max-width: 100%;
}
.content_image {
  max-width: 100%;
}

.cita {
  text-align: right;
  font-weight: bold;
}

body {
  /* background-image:
      url("https://res.cloudinary.com/dyk5cl3d8/image/upload/v1653404000/SISMA/sismografo-01_x3146x.png");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed; */

}

.testimonio {
  margin-bottom: 20px;
  ;
  border: solid;
  color: rgb(10, 2, 133);
  padding-left: 15px;
  padding-right: 15px;
}

.mujer {
  font-weight: bold;
}

.twitter-tweet {
  margin: auto;

}

canvas{
  background-color: aqua;
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 40vh;

}
